@import 'vars';


.haven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    width: 100%;
    max-width: 1920px;
    height: auto;
    min-height: 902px;
    padding: 60px 20px;
    box-sizing: border-box;

    @media (max-width: 1439px) and (min-width: 768px) {
        gap: 45px;
        min-height: 700px;
        padding: 50px 20px;
    }

    @media (max-width: 767px) {
        gap: 35px;
        min-height: 500px;
        padding: 40px 20px;
    }

    @media (max-width: 320px) {
        gap: 25px;
        min-height: 400px;
        padding: 30px 15px;
    }

    &__img{
        width: 482px;
        height: 434px;

        @media (max-width: 1439px) and (min-width: 768px) {
            width: 402px;
            height: 354px;
        }

        @media (max-width: 767px) {
            width: 302px;
            height: 254px;
        }

        @media (max-width: 320px) {
            max-width: 250px;
            width: 252px;
            height: 204px;
        }
    }

    &__h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 96px;
        font-weight: 700;
        line-height: 116%;
        letter-spacing: 0px;
        text-align: center;
        color: $UACwhite;
        width: 100%;
        max-width: 1737px;
        height: auto;
        margin: 0px;

        @media (max-width: 1439px) and (min-width: 768px) {
            font-size: 72px;
            max-width: 1200px;
        }

        @media (max-width: 767px) {
            font-size: 44px;
            max-width: 800px;
            line-height: 110%;
        }

        @media (max-width: 320px) {
            font-size: 36px;
            max-width: 100%;
            line-height: 105%;
        }
    }
}