@import 'vars';

.notfound{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-image: url(/imgs/Regsect.png);
    background-color: $UACDark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 110px;
    padding: 60px 40px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 1440px) {
        padding: 50px 40px;
        gap: 80px;
    }

    @media (max-width: 767px) {
        padding: 40px 20px;
        gap: 60px;
    }

    &__h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 296px;
        font-weight: 700;
        text-align: center;
        color: $UACwhite;
        width: 100%;
        max-width: 1600px;
        height: auto;
        margin: 0px;
        line-height: 1.1;

        @media (max-width: 1440px) {
            font-size: 172px;
        }

        @media (max-width: 767px) {
            font-size: 72px;
        }

        @media (max-width: 320px) {
            font-size: 36px;
        }
    }

    &__h2{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 64px;
        font-weight: 700;
        text-align: center;
        color: $UACwhite;
        width: 100%;
        max-width: 1600px;
        height: auto;
        margin: 0px;
        line-height: 1.3;

        @media (max-width: 1440px) {
            font-size: 48px;
        }

        @media (max-width: 767px) {
            font-size: 32px;
        }

        @media (max-width: 320px) {
            font-size: 24px;
        }
    }

    &__img{
        width: 356px;
        height: 356px;
        margin: 0px;

         @media (max-width: 1440px) {
            width: 280px;
            height: 280px;
        }

        @media (max-width: 767px) {
            width: 200px;
            height: 200px;
        }

        @media (max-width: 320px) {
            width: 150px;
            height: 150px;
        }
    }
}