@import 'vars';

.science {
    width: 100%;
    max-width: 1920px;
    height: auto;
    min-height: 763px;
    
    padding: 198px 0 236px 130px;
    box-sizing: border-box;

    @media (max-width: 1439px) and (min-width: 768px) {
        padding: 150px 0 180px 80px;
        min-height: 600px;
    }

    @media (max-width: 767px) {
        padding: 80px 0 100px 20px;
        min-height: 500px;
    }

    @media (max-width: 320px) {
        padding: 60px 0 80px 0px;
        min-height: 400px;
    }

    &-inside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;            
        align-items: flex-start;
        gap: 60px;
        width: 100%;
        max-width: 1147px;
        height: auto;
        min-height: 634px;

        @media (max-width: 1439px) and (min-width: 768px) {
            gap: 50px;
            min-height: 500px;
        }

        @media (max-width: 767px) {
            gap: 40px;
            min-height: auto;
        }

        @media (max-width: 320px) {
            gap: 30px;
        }

        &__h1 {
            font-size: 96px;
            font-weight: 700;
            text-align: left;
            color: $UACwhite;
            width: 100%;
            max-width: 969px;
            height: auto;
            border-width: 1px;
            margin: 0px;
            line-height: 116%;

            @media (max-width: 1439px) and (min-width: 768px) {
                font-size: 72px;
                max-width: 800px;
            }

            @media (max-width: 767px) {
                font-size: 46px;
                max-width: 600px;
            }

            @media (max-width: 320px) {
                font-size: 36px;
                max-width: 100%;
            }
        }

        &_p {
            color: $UACwhite;
            font-size: 38px;
            font-weight: 400;
            line-height: 147.5000023841858%;
            letter-spacing: 0px;
            text-align: left;
            width: 100%;
            max-width: 638px;
            height: auto;
            margin: 0px;

            @media (max-width: 1439px) and (min-width: 768px) {
                font-size: 32px;
                max-width: 550px;
            }

            @media (max-width: 767px) {
                font-size: 24px;
                max-width: 450px;
            }

            @media (max-width: 320px) {
                font-size: 20px;
                max-width: 100%;
            }
        }

        &__button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 8px 14px 8px 9px;
            width: 100%;
            max-width: 339px;
            height: auto;
            min-height: 88px;
            font-size: 37px;
            font-weight: 400;
            line-height: 147.5000023841858%;
            letter-spacing: 0px;
            text-align: center;
            border: 1px solid #ebebeb;
            border-radius: 42px;
            color: $UACDark;
            background-color: $accent;
            margin: 0px;
            cursor: pointer;
            transition: all 0.3s ease;
            box-sizing: border-box;

            &:hover {
                border: 1px solid #828282;
                color: $UACwhite;
                background-color: transparent;
            }

            @media (max-width: 1439px) and (min-width: 768px) {
                font-size: 32px;
                max-width: 300px;
                min-height: 80px;
                border-radius: 35px;
            }

            @media (max-width: 767px) {
                font-size: 28px;
                max-width: 280px;
                min-height: 75px;
                border-radius: 30px;
                padding: 12px 20px;
            }

            @media (max-width: 320px) {
                font-size: 24px;
                max-width: 250px;
                min-height: 70px;
                border-radius: 25px;
                padding: 10px 15px;
            }
        }
    }
}