@import 'mixins', 'header', 'vars', 'footer';


body{
    background-color: $UACDark;
        margin:auto;
    overflow-x: hidden;
}

.DOOM{

    height: 600px;
    width: 100%;
    

        &__h3{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size:36px;
            font-weight:400;
            text-decoration: none;
            color: $UACgrey;
        }


    &__h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 115.99999666213989%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: center;
        margin: 0px;
        color: $UACwhite;

    }
}

a:hover {
    color: $accent;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}